@import "mixins";
@import "variables";

:host {
  display: flex;
  gap: $card-padding;
  position: fixed;
  right: 50%;
  bottom: 2%;
  z-index: 1;

  span {
    padding: $card-padding;
    background-color: color('gray', 0.1);
    display: flex;
    align-items: baseline;
    justify-content: center;
    cursor: pointer;
  }
}
